<div id="mobL">
    <ul>
      <li><a [routerLink]="['/teams']">Teams</a></li>
    </ul>
  </div>
  <!-- header section of the page -->
  <header>
    <div class="head_div">
      <img src="../assets/img/besant_logo.jfif" alt="Besant" class="logo" />
      My Besant technology
    </div>
    <img src="../assets/img/banner.jpg" alt="Banner img" class="banner" />
  
    <!-- navigation section of page -->
  
    <nav>
      <ul class="navL">
        <li><a routerLink="/teams">Teams</a></li>
      </ul>
  
      <span><button class="btn2" routerLink="signUp">Sign up or Login</button></span>
    </nav>
  </header>
  
  <div class="ic" onclick="funcResp()"><i class="fa fa-bars"></i></div>
  
  <!-- content section of page -->
  <section>
    <div class="products">
      <img src="../assets/img/blue-male-student.png" alt="study" class="imgage" />
      <img src="../assets/img/bookss.jpg" alt="books" class="imgage" />
      <img src="../assets/img/careers.webp" alt="career" class="imgage" />
    </div>
  </section>
  <!-- footer section of page -->
  <footer>
    <div class="footcls">
      <img src="../assets/img/linkedin.jpg" alt="linkedIn" class="footimg" />
      <img src="../assets/img/fb.jfif" alt="fb" class="footimg" />
      <img src="../assets/img/twitter.png" alt="twitter" class="footimg" />
    </div>
  </footer>
